* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

/* Логотип */
.logo {
    text-align: center;
    margin: 20px 0;
}

/* Разделы */
section {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px;
}

/* Футер */
footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 90px;
}